body {
  font-family: Arial, sans-serif;
  background: #b07979;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  width: 300px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
}

input {
  width: 90%;
  padding: 8px;
  margin: 6px 0 10px 0;
  border-radius: 8px;
  border: 1px solid #999;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 8px;
}

button {
  width: 90%;
  padding: 12px;
  background: rgb(210, 120, 36);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  opacity: 0.85;
}
